<h4>Read data based on the options</h4>
<p class="options">
    {{#link-to "management.read.name" class="link-mgmt" }}Read with name{{/link-to}}</p>

<p class="options">
    {{#link-to "management.read.dept" class="link-mgmt"}} Read with Department {{/link-to}}</p>

<p class="options">
    {{#link-to "management.read.cgpa" class="link-mgmt"}} Read with CGPA{{/link-to}}</p>

<p class="options">
    {{#link-to "management.read.mailid" class="link-mgmt"}} Read with mailid{{/link-to}}</p>

<p class="options">
    {{#link-to "management.read.roll_no" class="link-mgmt"}}Read with Roll_no{{/link-to}}</p>
    <p></p><br><br>


<p class="options">
    {{#link-to "management.read.year" class="link-mgmt"}}Read with Year{{/link-to}}</p>
    <p></p><br><br>

{{outlet}}
