<h1>Welcome to Student Database Management System</h1>
    <h4>Please Login into your respective roles</h4>
<p class="options-login">
    {{#link-to "management-login" class="link-login" }}Management Login{{/link-to}}</p>
<p class="options-login">
    {{#link-to "student-login" class="link-login" }}Student Login{{/link-to}}</p>
{{outlet}}