<h1>Welcome to Student Database Management System</h1>
    <h4>Please Login into your respective roles</h4>
<h1>Login Form from loginpage</h1>
<div id="form2">
<form method="post" action="j_security_check">
    <p id ="head">Login:</p>
    <p>
        <label id="lab" for ="id">ID: </label><br><br>
        <input type="text" id="id" name="j_username" placeholder="Id" size = "20" maxlength="25" required>
    </p>
    <p>
        <label id="lab" for="pwd"> Password: </label><br><br>
        <input type="password" id="pwd" name="j_password" placeholder="Password:" size ="20" maxlength="20" required>
    </p>
    <p>
        <input type="submit" value="login">
    </p>
</form>
</div>
<br>
{{outlet}}