<h1>Student Login</h1>
<div id="form2">
<form method="post">
    <p id ="head"> Student Login:</p>
    <p>
        <label id="lab" for ="stu_id"> Student ID: </label><br><br>
        <input type="number" id="stu_id" name="stu_id" placeholder="Roll no." size = "20" maxlength="25" required>
    </p>
    <p>
        <label id="lab" for  ="stu_pwd"> Password: </label><br><br>
        <input type="password" id="stu_pwd" name="stu_pwd" placeholder="Password:" size ="20" maxlength="20" required>
    </p>
    <p>
            <input type="submit" value="login" {{action "verify_stu_login" }}>
    </p>
</form>
</div>
<br>

<p   class="link-stu" >{{#link-to "index" class="link-s"}}Home Page{{/link-to}}</p>
{{outlet}}